*{
	padding: 0;
	margin: 0;
}

ul,li,ol{
	text-decoration: none;
	list-style-type: none;
}

a{
	text-decoration: none;
}
.clear:after{
	content:'';
	clear:both;
	display:block;
	height: 0;
}

.main{
	width: 1180px;
	margin:0 auto;
	text-align: center;
}

/* header开始 */
.header{
	width: 1180px;
	height: 41px;
	/* background-color:#000; */
	margin:0 auto;
	/* text-align:center; */
}

.hbig{
	width: 1180px;
	height: 18px;
	padding-top: 8px;
}

.h1{
	color: #b6a4bf;
	float: left;
	font-size: 13px;
}

.h2{
	width: 19px;
	height: 21px;
	float: left;
	margin-left: 308px;
	background:url(../img1/common_min.png) 0 -31px;
}
.h3{
	width: 19px;
	height: 21px;
	float: left;
	margin-left: 18px;
	background:url(../img1/common_min.png) 0 -54px;
}
.h4{
	width: 19px;
	height: 21px;
	float: left;
	margin-left: 18px;
	margin-right: 0px;
	background:url(../img1/common_min.png) 0 -76px;
}
.h5{
	float: left;
	margin-left: 18px;
	font-size: 13px;
	color: #b6a4bf;
}
.h6{
	width: 19px;
	height: 12px;
	float: left;
	margin-left: 18px;
	margin-top: 4px;
	background:url(../img1/common_min.png) 0 -117px;
}
.h7{
	float: left;
	margin-left:2px;
	font-size: 13px;
	color: #b6a4bf;
}
.h8{
	width: 19px;
	height: 21px;
	float: left;
	margin-left: 18px;
	margin-top: 2px;
	background:url(../img1/dingdan.jpg) no-repeat;
}
.h9{
	float: left;
	margin-left: 17px;
	font-size: 13px;
	color: #b6a4bf;
}
.h10{
	width: 10px;
	height: 21px;
	float: left;
	margin-left: 18px;
	margin-top: 2px;
	background:url(../img1/phone.png) no-repeat;
}
.h11{
	width: 19px;
	height: 21px;
	float: left;
	margin-left: 18px;
	margin-right: 5px;
	margin-top: 2px;
	background:url(../img1/gouwuche.jpg) no-repeat;
}
.h12{
	float: left;
	margin-left: 6px;
	font-size: 14px;
	color: #fe6c00;
}
/* first开始 */
.first{
	width: 1180px;
	height: 98px;
}
.fi1{
	width: 150px;
	height: 63px;
	float: left;
}
.fi2{
	width: 505px;
	height: 36px;
	border:2px solid #fe6c00;
	margin-left: 122px;
	margin-top: 14px;
	float: left;
}
.fi3{
	width: 84px;
	height: 40px;
	/* background-image: url(img1/juse.png); */
	background-color: #fe6c00;
	float: left;
	margin-top: 14px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border:2px solid #fe6c00;
}
.fi4{
	margin-left: 40px;
	margin-top: 14px;
}
.fi5{
	margin-left: 120px;
	width: 600px;
	height: 18px;
	float: left;
}
.fi5 li{
	font-size: 13px;
	padding:0px 7px 0 7px;
	margin-top: 6px;
	float: left;
	border-right:1px solid #ebe7e7;
}
.fi6{
	display: block;
}

/* second开始 */
.second{
	height: 40px;
}
.second li{
	width: 114px;
	/* line-height: 40px; */   /* 为啥？不行 */
	height: 40px;
	float:left;
	text-align: center;
}
/* third开始 */
.third{
	width: 1180px;
	height: 557px;
}
.t1{
	width: 170px;
	height: 557px;
	float:left;
	
}
.t11{
	width: 22px;
	height: 422px;
	float: left;
	/* background-color: black; */
}
.t11 li{
	width: 22px;
	height: 30px;
	font-size: 14px;
	color: #ff4d4b;
}
.t12{
	width: 148px;
	height: 422px;
	float: left;
	/* background-color: yellow; */
}
.t12 li{
	width: 34px;
	height: 32px;		/* 必须同时存在吗？height 和 line-height: */
	float: left;
 	/* border:1px solid #fff;  */
	font-size: 13px;
	line-height: 32px;
}
.t13{
	width: 170px;
	height: 128px;
	background-color: #fff;
	float: left;
}
.t13 li{
	width: 170px;
	height: 42px;
	text-align: left;
	line-height: 42px;
	font-size: 13px;
	color: #855d38;
	}
.t13 img{
	margin-top: 13px;
	margin-right: 10px;
	float: left;
	vertical-align: middle;

}
.t2{
	width: 810px;
	height: 557px;
	float:left;
} 
.t22{
	width: 802px;
	height: 557px;
}
/* .t23{
	width: 810px;
	height: 360px;
	float: left;
	background-color: purple;
} */
.t24{
	width: 810px;
	height: 190px;
	background-color: red;
}

.p1{
	width: 200px;
	height: 190px;
	float: left;
	background-color: #03b3ec;
}
.t3{
	width: 196px;
	height: 550px;
	float:left;
	/* background-color: black; */
}

.t32{
	width: 196px;
	height: 190px;
	background-color: #fff;
}
.tm{
	width: 180px;
	height: 190px;
	margin:0 auto;
	/*  border:1px solid #000; */
}
.k1{
	width: 180px;
	height: 33px;
	line-height: 33px;
}
.k2{
	margin-top: 9px;
	width: 124px;
	height: 24px;
	border；1px solid #aca7a2;
	float: left;
	color: #aca7a2;
}
.k3{
	margin-top: 6px;
	width: 65px;
	height: 23px;
	border；1px solid #aca7a2;
	float: left;
}
.k4{
	margin-top: 9px;
	width: 177px;
	height: 26px;
	background-color: #ff4d04;
	color: #fff;
	font-size: 14px;
	border-radius: 6px;
	border:2px solid #ff4d04;
	font-size: 14px;
}
/* forth开始 */
.t4{
	width: 1180px;
	height: 181px;
	background-color: #f8f7f6;
}
.t41{
	width: 150px;
	height: 181px;
	/* border-bottom:1px solid #ebeae8; */
	float: left;
	margin-right: 40px;
}
.t42{
	width: 66px;
	height: 147px;
	padding:25px 26px 10px 36px;
	text-align: right;
	border-bottom:1px solid #ebeae8;
	float: left;
}
.t43{
	width: 168px;
	height: 147px;
	padding-top: 25px;
	padding-left: 12px;
	padding-bottom: 10px;
	border-bottom:1px solid #ebeae8;
	float: left;
}
.t42 li{
	text-align: left;
}
.t44{
	font-size: 15px;
	font-weight: bold;
	color: black;
	margin-bottom: 15px;
}
.t45{
	margin-bottom: 12px;
	font-size: 12px;
	color: #666560;
}

/* fifth开始 */
.t5{
	width: 1180px;
	height: 177px;
	text-align: center;
	background-color: #f8f7f6;
}
.t51{
	width: 651px;
	height: 15px;
	padding-top: 14px;
	padding-bottom: 11px;
	margin:0 auto;
}
.t51 li{
	width: 71px;
	height: 15px;
	font-size: 13px;
	float: left;
	color: #666560;
	border-right: 1px solid #d0cdc7;
}
.t52{
	width: 484px;
	height: 14px;
	color: #c4a391;
	margin:0 auto;
	font-size: 12px;
	margin-bottom: 12px;
}
.t53{
	width: 1062px;
	height: 14px;
	color: #c4a391;
	margin:0 auto;
	font-size: 12px;
	margin-bottom: 12px;
}
.t54{
	width: 134px;
	height: 14px;
	color: #c4a391;
	margin:0 auto;
	font-size: 12px;
	margin-bottom: 12px;
}
.t55{
	width: 790px;
	height: 60px;
	margin:0 auto;
	/* border:1px solid #000; */
}



/* 右边浮动 */
#b1{
	right: 0px;
	top: 65px;
	position: fixed;
	width: 123px;
	height: 100px;
	margin-right: -80px;
	z-index: 99999;
}
#x1{
	margin-bottom: -4px;
}
 #b2{
 	right: 0px;
	top: 170px;
	position: fixed;
	width: 123px;
	height: 140px;
	margin-top: 5px;
	background-color: #ff9260;
	margin-right: -80px; 
	margin-top: 5px;
}
#b3{
	right: 0px;
	top: 315px;
	position: fixed;
	width: 123px;
	height: 150px;
	background-color: #ff9260;
	margin-top: 5px;
	margin-right: -80px;
}
#b4{
	right: 0px;
	top: 470px;
	position: fixed;
	width: 123px;
	height: 140px;
	background-color: #ff9260;
	margin-top: 2px;
	margin-right: -80px;
} 
#daerweima{
	margin-left: 15px;
	display: none;
}

.cover{ 
 	background-color: #fff;
 	width: 100%;
 } 